### DataFrame
### Commands Used:
### head, tail, read_csv, adding and deleting columns,merging dataframes, .ix[], .values(), .index()
### max of a column

In [3]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [117]:
nfl_frame = pd.read_csv("/Users/biswajitkarmokar/Downloads/nfl_win_loss.csv")
nfl_frame.head(5)

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Chicago Bears,741,555,42,0.570,1920,1338,NFC North
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East
2,3,Green Bay Packers,720,547,37,0.566,1921,1304,NFC North
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East

In [118]:
stadium = pd.read_csv("/Users/biswajitkarmokar/Downloads/nfl_stadium.csv")
stadium.head(5)

                Team                           Name
0  Arizona Cardinals  University of Phoenix Stadium
1    Atlanta Falcons                   Georgia Dome
2   Baltimore Ravens               M&T Bank Stadium
3      Buffalo Bills           Ralph Wilson Stadium
4  Carolina Panthers        Bank of America Stadium

In [39]:
# Names of the columns
nfl_frame.columns

Index([u'Rank', u'Team', u'Won', u'Lost', u'Tied', u'Pct.',
       u'First NFL Season', u'Total Games', u'Division'],
      dtype='object')

In [119]:
#retreiving data for a column
nfl_frame['Total Games'].head(5)

0    1338
1     850
2    1304
3     768
4     852
Name: Total Games, dtype: int64

In [79]:
# Grab multiple columns
DataFrame(nfl_frame, columns = ["Team", "First NFL Season", "Total Games"]).head(5)

                   Team  First NFL Season  Total Games
0         Chicago Bears              1920         1338
1        Dallas Cowboys              1960          850
2     Green Bay Packers              1921         1304
3        Miami Dolphins              1966          768
4  New England Patriots              1960          852

In [23]:
# Retrieve the last rows (5 by default)
nfl_frame.tail(2)

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Divison
3,4,Miami Dolphins,429,335,4,.561,1966,768,AFC East
4,5,San Francisco 49ers,520,436,14,.553 [a],1950,"1,019",NFC West

In [120]:
# Retrieve a row (by index)
nfl_frame.ix[3]

Rank                             4
Team                Miami Dolphins
Won                            429
Lost                           335
Tied                             4
Pct.                         0.561
First NFL Season              1966
Total Games                    768
Division                  AFC East
Name: 3, dtype: object

### Adding and deleting columns

In [71]:
# Add a column that doesn't exist
# --> fill with null values
#DataFrame(nfl_frame, columns = ["Team", "First NFL Season", "Total Games", "Stadium"])

In [60]:
#max = nfl_frame.max(column="Rank")[0]
#nfl_frame["Stadium"] = np.arange(max)

In [63]:
# Add a Series to a DataFrame
#nflstadiums = Series(["Levi's Stadium", "AT&T Stadium"], index = [4,0])
#nflstadiums

4    Levi's Stadium
0      AT&T Stadium
dtype: object

In [62]:
#nfl_frame["Stadium"] = nflstadiums

In [121]:
nfl_frame_merged = pd.merge(nfl_frame,stadium,on='Team')
nfl_frame_merged.head(3)

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Name
0,1,Chicago Bears,741,555,42,0.570,1920,1338,NFC North,Soldier Field
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East,AT&T Stadium
2,3,Green Bay Packers,720,547,37,0.566,1921,1304,NFC North,Lambeau Field

In [129]:
# giving column names
nfl_frame_merged.columns = ["Rank","Team","Won","Lost","Tied","Pct.","First NFL Season","Total Games","Division","Stadium"]
nfl_frame_merged.head(5)

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Chicago Bears,741,555,42,0.570,1920,1338,NFC North,Soldier Field
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East,AT&T Stadium
2,3,Green Bay Packers,720,547,37,0.566,1921,1304,NFC North,Lambeau Field
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East,Sun Life Stadium
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East,Gillette Stadium

In [157]:
nfl_frame_merged_new = DataFrame(nfl_frame_merged, columns = ["Rank","Team","Won","Lost","Tied","Pct.","First NFL Season",
                                                              "Total Games","Division","Stadium","DummyCol"]).head(5)
nfl_frame_merged_new

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium,DummyCol
0,1,Chicago Bears,741,555,42,0.570,1920,1338,NFC North,Soldier Field,NaN
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East,AT&T Stadium,NaN
2,3,Green Bay Packers,720,547,37,0.566,1921,1304,NFC North,Lambeau Field,NaN
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East,Sun Life Stadium,NaN
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East,Gillette Stadium,NaN

In [158]:
# Delete a column
del nfl_frame_merged_new["DummyCol"]
nfl_frame_merged_new

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Chicago Bears,741,555,42,0.570,1920,1338,NFC North,Soldier Field
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East,AT&T Stadium
2,3,Green Bay Packers,720,547,37,0.566,1921,1304,NFC North,Lambeau Field
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East,Sun Life Stadium
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East,Gillette Stadium

In [160]:
nfl_frame_merged.head(5)

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Chicago Bears,741,555,42,0.570,1920,1338,NFC North,Soldier Field
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East,AT&T Stadium
2,3,Green Bay Packers,720,547,37,0.566,1921,1304,NFC North,Lambeau Field
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East,Sun Life Stadium
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East,Gillette Stadium

### Creating DataFrames

In [37]:
# From a dictionnary
data = {"City": ["SF", "LA", "NYC"], "Population": [837000, 3880000, 8400000]}

In [38]:
city_frame = DataFrame(data)

In [39]:
city_frame

  City  Population
0   SF      837000
1   LA     3880000
2  NYC     8400000

In [41]:
#documentation for pandas:
website = 'http://pandas.pydata.org/pandas-docs/dev/generated/pandas.DataFrame.html'
webbrowser.open(website)

True