In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from numpy.random import randn

### Reindexing a Serie

In [3]:
ser1 = Series([1,2,3,4], index = ["A", "B", "C", "D"])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [5]:
# Null values for the index that didn't exist
ser2 = ser1.reindex(["A", "B", "C", "D", "E", "F"])
ser2

A     1
B     2
C     3
D     4
E   NaN
F   NaN
dtype: float64

In [8]:
# Fill with 0 instead of null for the new index
ser2.reindex(["A", "B", "C", "D", "E", "F", "G"], fill_value = 0)

A     1
B     2
C     3
D     4
E   NaN
F   NaN
G     0
dtype: float64

In [10]:
ser3 = Series(["USA", "Mexico", "Canada"], index = [0,5,10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [11]:
# Forward fill : grab the previous value to fill the missing values
ser3.reindex(range(15), method = "ffill")

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

### Reindexing a DataFrame

In [12]:
dframe = DataFrame(randn(25).reshape((5, 5)), 
                   index = ["A", "B", "D", "E", "F"], 
                   columns = ["col1", "col2", "col3", "col4", "col5"])

dframe

       col1      col2      col3      col4      col5
A -0.361738  0.045007 -1.116919 -0.278343  0.379118
B  0.037990 -0.198912 -0.468545 -0.732808  0.259957
D -0.788771  0.259642 -1.345932  0.113135 -0.255217
E -0.221958  0.351139  0.351524 -0.220467  0.295690
F -0.196884 -1.466460 -0.675403  1.704253 -0.178081

In [14]:
# Reindexing the rows
dframe2 = dframe.reindex(["A", "B", "C", "D", "E", "F"])
dframe2

       col1      col2      col3      col4      col5
A -0.361738  0.045007 -1.116919 -0.278343  0.379118
B  0.037990 -0.198912 -0.468545 -0.732808  0.259957
C       NaN       NaN       NaN       NaN       NaN
D -0.788771  0.259642 -1.345932  0.113135 -0.255217
E -0.221958  0.351139  0.351524 -0.220467  0.295690
F -0.196884 -1.466460 -0.675403  1.704253 -0.178081

In [15]:
# reindexing the columns
new_columns = ["col1", "col2", "col3", "col4", "col5", "col6"]
dframe2.reindex(columns = new_columns)

       col1      col2      col3      col4      col5  col6
A -0.361738  0.045007 -1.116919 -0.278343  0.379118   NaN
B  0.037990 -0.198912 -0.468545 -0.732808  0.259957   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.788771  0.259642 -1.345932  0.113135 -0.255217   NaN
E -0.221958  0.351139  0.351524 -0.220467  0.295690   NaN
F -0.196884 -1.466460 -0.675403  1.704253 -0.178081   NaN

In [17]:
dframe

       col1      col2      col3      col4      col5
A -0.361738  0.045007 -1.116919 -0.278343  0.379118
B  0.037990 -0.198912 -0.468545 -0.732808  0.259957
D -0.788771  0.259642 -1.345932  0.113135 -0.255217
E -0.221958  0.351139  0.351524 -0.220467  0.295690
F -0.196884 -1.466460 -0.675403  1.704253 -0.178081

In [16]:
# Using .ix to reindex the rows and the columns at the same time
dframe.ix[["A", "B", "C", "D", "E", "F"], new_columns]

       col1      col2      col3      col4      col5  col6
A -0.361738  0.045007 -1.116919 -0.278343  0.379118   NaN
B  0.037990 -0.198912 -0.468545 -0.732808  0.259957   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.788771  0.259642 -1.345932  0.113135 -0.255217   NaN
E -0.221958  0.351139  0.351524 -0.220467  0.295690   NaN
F -0.196884 -1.466460 -0.675403  1.704253 -0.178081   NaN